body {
    margin: 0;
    background-color: gray;
}

#top {
    height: 30px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

#actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
}

#actions>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.1s ease-out;
}


#upload:hover , #download:hover {
    opacity: 1;
    text-decoration: underline;
}

#leave {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#leave>img {
    height: 100%;
    cursor: pointer;
}

#middle {
    position: sticky;
    display: grid;
    background-color: antiquewhite;
    grid-template-columns: 1.75fr 2.25fr 1fr 1fr 2.25fr 5.5fr;
    grid-column-gap: 20px;
    padding: 5px;
    background: linear-gradient(to right, #808080, #606060, #808080);
    border-bottom: 2px solid black;
    border-top: 1.5px solid black;
    z-index: 100;
}

/* Trimmer Tools */
#trimmer-tools {
    display: grid;
    height: inherit;
    grid-template-columns: 3fr 1fr;
    grid-gap: 3px;
}

#paste {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#paste>img {
    width: 100%;
    cursor: pointer;
}

#removing-tools {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#removing-tools>div>img {
    width: 100%;
    cursor: pointer;
}

#removing-tools>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basic Tools */
#basic-tools {
    display: grid;
    background-image: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#basic-tools>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#basic-tools>div>img {
    width: 62.5%;
    cursor: pointer;
}

/* Line Size , Brushes */

.dropdown-box {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    margin: 5px;
}

.dropdown-icon,
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-icon>img {
    width: 70%;
}

.dropdown {
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: 150%;
    position: absolute;
    flex-direction: column;
    top: calc(100% + 10px);
    background-color: gray;
    left: -25%;
    transition: 0.25s ease-in-out;
}

.arrow>img {
    width: 30%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

#dashed {
    border-bottom: 1px solid black;
}

.line-size,
.instrument {
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.first-size {
    background-color: skyblue;
}

/* Shapes */
#shapes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#shapes>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shapes>div>img {
    width: 55%;
    cursor: pointer;
}

/* Colors */
#colors-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr 1fr;
    column-gap: 10px;
}

#color1,
#color2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color1>div,
#color2>div {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    box-sizing: border-box;
    border: 3px solid transparent;
}

#color1>div {
    background-color: black;
}

#color2>div {
    background-color: white;
}

#color1>label,
#color2>label {
    font-size: 1.5vw;
    margin-top: 0.5vh;
}

#colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
}

.color {
    border: 2px solid black;
    cursor: pointer;
}

#palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

#palette>img {
    width: 80%;
    cursor: pointer;
}

/* Canvas , Resizing dots*/

#bottom {
    position: relative;
    overflow: scroll;
}

.body { 
    overflow: hidden;
}

#gameCanvas {
    background-color: white;
}

.resize {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: skyblue;
}

#resize_s {
    left: 200px;
    top: 300px;
    cursor: s-resize;
}

#resize_se {
    left: 400px;
    top: 300px;
    cursor: se-resize;
}

#resize_e {
    left: 400px;
    top: 150px;
    cursor: e-resize;
}


/* Zoom */
#zoom-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 30px;
    right: 30px;
}

#zoom-apply-button {
    width: 30px;
    height: 30px;
}

#zoom-apply-button>img {
    width: 30px;
    height: 30px;
}

/*PALETTE POPUP MENU*/
#palette-popup-wrapper{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    transition: 0.3s ease-in;
}

#palette-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 5px;
    width: 300px;
    height: 160px;
    background-color: saddlebrown;
    border: 1px solid black;
}

#palette-popup-top{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

#palette-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#palette-exit{
    display: flex;
    justify-content: flex-end;
}

#palette-popup-middle{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    height: 100px;
    margin-top: 5px;
}

#palette-popup-middle >div{
    height: 25px;
    width: 25px;
    border: 1px solid white;
}

#palette-popup-bottom{
    margin-left: 12.5px;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

#palette-popup-bottom >button{
    margin-left: 10px;
}


@media screen and (max-width: 790px) {

    #game {
        width: 100vw;
    }

    #actions {
        width: 474px;
    }

    #middle {
        height: 62.5px;
        overflow: scroll;
    }

    #botom {
        overflow: unset;
    }

    #paste {
        width: 52px;
        height: 52px;
    }

    #removing-tools {
        width: 20.5px;
        height: 62.5px;
    }


    #basic-tools {
        width: 110px;
        height: 62.5px;
    }

    .dropdown-box {
        height: 52.5px;
    }

    .dropdown-icon>img {
        width: 27.5px;
        height: 27.5px;
    }

    .arrow>img {
        width: 11.5px;
        height: 11.5px;
    }

    #shapes {
        width: 111px;
        height: 62.5px;
    }

    #color1,
    #color2 {
        width: 44px;
        height: 62.5px;
    }

    #color1>div,
    #color2>div {
        width: 31.5px;
        height: 31.5px;
    }

    #color1>label,
    #color2>label {
        font-size: 11.7px;
        margin-top: 3.75px;
    }

    #colors {
        width: 105px;
        height: 62.5px;
    }

    #colors>div {
        height: 15px;
        width: 15px;
    }

    #palette {
        width: 44px;
        height: 62.5px;
    }

    #palette>img {
        width: 35px;
        height: 35px;
    }
}