body {
  margin: 0;
  cursor: default;
}

button {
  cursor: pointer;
}

#home {
  display: flex;
  height: 100vh;
}

#home-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

#home-top {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player-data {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-bottom-right-radius: 20px;
}

#player-img {
  height: 60px;
}

#player-name {
  margin-left: 5px;
}

#game-title {
  text-align: center;
  font-size: 30px;
  margin: auto;
}

#home-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

#home-canvas {
  width: 90%;
  height: 430px;
  border: 1px solid black;
}

#home-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mode-button {
  width: 12vw;
  height: 6vw;
  border-radius: 10px;
}

.home-popup {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* COOP POPUP */
#coop-popup , #solo-popup{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  transition: 0.2s ease-in-out;
  border-radius: 7px;
}

#solo-popup{
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
}

#coop-popup > div {
  display: flex;
  align-items: center;
}

#coop-popup-top {
  justify-content: flex-end;
}

#coop-popup-bottom {
  justify-content: space-evenly;
}

#coop-popup-bottom > button {
  width: 80px;
  height: 60px;
  border-radius: 10px;
}

.prejoin-popup {
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  gap: 4px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.prejoin-popup > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prejoin-popup > input {
  border: 1px solid black;
}

#players-select {
  border: 1px solid black;
}

#coop-party {
  padding: 8px;
  border: 1px solid black;
  transition: 0.4s ease-in-out;
}

#leave-party {
  margin-left: 35px;
}

#start-button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #home {
    flex-direction: column;
  }

  #home-top,
  #home-middle,
  #home-bottom {
    flex-direction: column;
    align-items: center;
  }

  #home-top {
    height: 50px;
  }

  #home-bottom {
    margin-top: 10px;
    height: 190px;
  }

  #player-data {
    flex-direction: column;
    align-items: center;
  }

  #game-title {
    font-size: 24px;
  }

  #coop-create > button {
    height: 30px;
    font-size: 18px;
  }

  #coop-create > div {
    height: 30px;
    font-size: 18px;
  }

  #coop-create > select {
    height: 30px;
    font-size: 18px;
  }

  #coop-join > button {
    height: 30px;
    font-size: 18px;
  }

  #coop-join > div {
    height: 30px;
    font-size: 18px;
  }

  #coop-join > input {
    height: 30px;
    font-size: 18px;
  }

  .mode-button {
    width: 80%;
    height: 50px;
  }

  .home-popup,
  .prejoin-popup {
    width: 70%;
  }
}
