<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paint Online</title>
        <link rel="stylesheet" href="../css/game.css">
    </head>
    <body>
        <script src = "/socket.io/socket.io.js"></script>

        <div id = "game">
            <div id = "top">
                <div id = "actions">
                    <div id = "upload">Upload</div>
                    <div id = "download">Download</div>
                    <div id = "view">View</div>
                </div>

                <div id = "leave">
                    <img src = "../assets/leave.png">
                </div>
            </div>



            <div id = "middle">
                <div id = "trimmer-tools">
                    <div id = "paste">
                        <img src = "../assets/paste.png">
                    </div>

                    <div id = "removing-tools">
                        <div id = "copy">
                            <img src = "../assets/copy.png">
                        </div>

                        <div id = "cut">
                            <img src = "../assets/cut.png">
                        </div>

                        <div id = "delete">
                            <img src = "../assets/delete.png">
                        </div>
                    </div>
                </div>
                <div id = "basic-tools">
                    <div class = "tool" id = "pen" onclick = "triggerTool('pen')">
                        <img src = "../assets/pen.png">
                    </div>

                    <div class = "tool" id = "color-picker" onclick = "triggerTool('color-picker')">
                        <img src = "../assets/color-picker.png">
                    </div>

                    <div class = "tool" id = "rubber" onclick = "triggerTool('rubber')">
                        <img src = "../assets/rubber.png">
                    </div>

                    <div class = "tool" id = "text" onclick = "triggerTool('text')">
                        <img src = "../assets/text.png">
                    </div>

                    <div class = "tool" id = "paint-bucket" onclick = "triggerTool('paint-bucket')">
                        <img src = "../assets/bucket.png">
                    </div>

                    <div class = "tool" id = "select" onclick = "triggerTool('select')">
                        <img src = "../assets/select.png">
                    </div>
                </div>

                <div class = "dropdown-box">
                    <div class = "dropdown-icon">
                        <img src = "../assets/line-size.png">
                    </div>

                    <div class = "arrow" onclick = "triggerSizeDropdown()">
                        <img id = "size-arrow" src = "../assets/arrow-down.png">
                    </div>

                    <div class = "dropdown" id = "size-dropdown">
                        <div id = "dashed">
                            <input type = "checkbox" onclick = "triggerDashed()">Dashed</input>
                        </div>
                    </div>
                </div>

                <div class = "dropdown-box">
                    <div class = "dropdown-icon">
                        <img src = "../assets/drawing-tool.png">
                    </div>

                    <div class = "arrow">
                        <img src = "../assets/arrow-down.png">
                    </div>
                </div>

                <div id = "shapes">
                    <div id = "line">
                        <img src = "../assets/line.png">
                    </div>

                    <div id = "circle">
                        <img src = "../assets/circle.png">
                    </div>

                    <div id = "triangle">
                        <img src = "../assets/triangle.png">
                    </div>

                    <div id = "rectangle">
                        <img src = "../assets/rectangle.png">
                    </div>

                    <div id = "curved-line">
                        <img src = "../assets/curved-line.png">
                    </div>

                    <div id = "polygon">
                        <img src = "../assets/polygon.png">
                    </div>
                </div>

                <div id = "colors-wrapper">
                    <div id = "color1">
                        <div id = "color1_color"; onclick = "selectColor(1)"></div>
                        <label>Color 1</label>
                    </div>

                    <div id = "color2">
                        <div id = "color2_color"; onclick = "selectColor(2)"></div>
                        <label>Color 2</label>
                    </div>

                    <div id = "colors"></div>

                    <div id = "palette">
                        <img src = "../assets/palette.png">
                    </div>
                </div>
            </div>



            <div id = "bottom">
                <canvas id = "gameCanvas"; width = "400px"; height = "300px"></canvas>
                <div class = "resize" id = "resize_s"></div>
                <div class = "resize" id = "resize_se"></div>
                <div class = "resize" id = "resize_e"></div>
                
                <div id = "zoom-wrapper">
                    <div>100%</div>
                    <input type = "range"></input>
                    <img src = "../assets/zoom.png">
                </div>
            </div>
        </div>



        <script src = "../js/commons/constants.js"></script>
        <script src = "../js/commons/variables.js"></script>
        <script src = "../js/commons/functions.js"></script>
        <script src = "../js/commons/storage.js"></script>

        <script src = "../js/managers/CustomLineManager.js"></script>

        <script src = "../js/objects/CustomLine.js"></script>
        

        <script src = "../js/objects/Party.js"></script>
        <script src = "../js/objects/Player.js"></script>
        <script src = "../js/objects/Canvas.js"></script>

        <script src = "../js/menus/game.js"></script>
    </body>
</html>